@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media only screen and (max-width: 815px) {
  #MainSection {
    width: 25vw !important;
  }
  #MainSection > img {
    width: 100% !important;
  }
  #LoginForm,
  #RegisterForm {
    width: 75vw !important;
  }
}

#Section {
  display: flex;
  font-family: "Roboto", sans-serif;
}

#MainSection {
  width: 50vw;
  height: 100vh;
  background-color: #7f0606;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  left: 0;
  top: 0;
}

#MainSection > img {
  width: 39vw;
}

#LoginForm {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#LoginForm > p:first-child {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 14px;
  cursor: default;
  color: #282626;
}

#LoginForm > p:nth-child(2) {
  font-size: 20px;
  margin-bottom: 30px;
  cursor: default;
  color: #3f3b3b;
}

#InputLabel {
  font-size: 18px;
  font-weight: 600;
}

#InputGroup {
  display: flex;
  flex-direction: column;
}

#InputGroup > input {
  width: 400px;
  height: 50px;
  border-radius: 4px;
  padding-inline: 16px;
  border: 1px solid #353535;
  font-size: 19px;
  margin-bottom: 13px;
  flex-wrap: wrap;
  color: #606060;
}

#InputGroup div {
  width: 400px;
  border: 1px solid #353535;
  height: 50px;
  margin-bottom: 13px;
  border-radius: 4px;
  align-items: center;
  padding-left: 5px;
  padding-right: 14px;
}

#InputGroup div img {
  transform: scaleX(-1);
  cursor: pointer;
}

#InputGroup div > input {
  width: 370px;
  height: 48px;
  padding-inline: 11px;
  font-size: 19px;
  flex-wrap: wrap;
  color: #606060;
  outline: 0;
  border: 0;
}

#InputGroup > label {
  margin-bottom: 8px;
  color: #202020;
}

.flex {
  display: flex;
}

#ZqPnjN2v1S {
  width: 400px;
  justify-content: space-between;
  margin-bottom: 29px;
}

#ZqPnjN2v1S div {
  align-items: center;
  gap: 8px;
}

#ZqPnjN2v1S div input {
  width: 22px;
  height: 22px;
  border-radius: 5px;
  cursor: pointer;
}

#ZqPnjN2v1S div label {
  font-size: 16px;
  font-weight: 600;
  color: #202020;
}

#ZqPnjN2v1S p {
  font-size: 16px;
  font-weight: 600;
  color: #97989e;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

#ZqPnjN2v1S p:hover {
  color: #202020;
}

#SignButton {
  width: 400px;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 23px;
  background-color: #7f0606;
  border: 1px solid #7f0606;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

#SignButton:hover {
  background-color: #ffffff;
  color: #7f0606;
}

#qDSFE7331Q {
  width: 400px;
  justify-content: space-between;
}

#qDSFE7331Q > p:first-child {
  font-size: 20px;
  color: #353535;
  cursor: default;
}

#qDSFE7331Q > p:nth-child(2) {
  font-size: 20px;
  color: #616162;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s ease-in-out;
}

#qDSFE7331Q > p:nth-child(2):hover {
  color: #353535;
}

#DetailRegister {
  text-align: center;
  width: 400px;
  text-wrap: wrap;
}

#qDSFE733Q {
  width: 400px;
  justify-content: center;
  gap: 10px;
}

#qDSFE733Q > p:first-child {
  font-size: 20px;
  color: #353535;
  cursor: default;
}

#qDSFE733Q > p:nth-child(2) {
  font-size: 20px;
  color: #616162;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s ease-in-out;
}

#qDSFE733Q > p:nth-child(2):hover {
  color: #353535;
}

#InputSelect {
  width: 400px;
  height: 50px;
  border-radius: 4px;
  padding-inline: 16px;
  border: 1px solid #353535;
  font-size: 19px;
  margin-bottom: 13px;
  flex-wrap: wrap;
  color: #606060;
}

#RegisterForm {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
}

#RegisterForm > p:first-child {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 14px;
  cursor: default;
  color: #282626;
}

#RegisterForm > p:nth-child(2) {
  font-size: 20px;
  margin-bottom: 30px;
  cursor: default;
  color: #3f3b3b;
}

#InputGroupForgot {
  display: flex;
  flex-direction: column;
}

#InputGroupForgot > input {
  width: 400px;
  height: 50px;
  border-radius: 4px;
  padding-inline: 16px;
  border: 1px solid #353535;
  font-size: 19px;
  margin-bottom: 33px;
  flex-wrap: wrap;
  color: #606060;
}

#InputGroupForgot > label {
  margin-bottom: 8px;
  color: #202020;
}

.mb-30 {
  margin-bottom: 30px;
}

#IXsW4GPCS0 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 278px;
  height: 100vh;
  gap: 11px;
  background-color: #7f0606;
  position: sticky;
  left: 0;
  top: 0;
  bottom: 0;
}

#BKidzY7b8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#BKidzY7b8 > img {
  width: 213px;
  height: 97px;
  margin-top: 21px;
  margin-bottom: 65px;
}

#VQVof2cEcc {
  width: 100%;
  padding-left: 21px;
  display: flex;
  flex-direction: column;
  gap: 29px;
}

#XDEhnZ5hE1 > svg {
  gap: 10px;

  margin-right: 11px;
}

#XbILl5df2E {
  display: flex;
  width: calc(100vw - 295px);
  height: 80px;
  background-color: transparent;
  padding-inline: 33px;
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
}

#notificationBase {
  z-index: 9999;
}

#notifikasi {
  display: flexbox;
  right: 0;
  margin-right: 40px;
  position: absolute;
  width: 408px;
  height: 487px;
  box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Roboto", sans-serif;
  z-index: 9999;
  background-color: white;
}

#notifikasi-content {
  margin: 35px 20px 4px 30px;
}

#notifikasi-content > img {
  align-self: center;
}

#judul-notifikasi {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

#judul-notifikasi > p:nth-child(1) {
  margin-bottom: 7px;
}

#penjelasan-judul {
  width: 330px;
  height: 60px;
  margin-left: 60px;
  padding-right: 30px;
}

#penjelasan-judul > p {
  margin-bottom: 15px;
  font-size: 14px;
}

#penjelasan-judul > button {
  width: 131px;
  height: 32px;
  background-color: #7f0606;
  color: #fff;
  border: none;
  border-radius: 8px;
  margin-left: 12px;
  font-weight: 700;
}

#garis {
  width: 330px;
  background-color: #d9d9d9;
  height: 3px;
  margin-top: 70px;
  margin-left: 35px;
}

#WN9DGJJ1Si {
  display: flex;
}

#tU8YcNlVg5 {
  font-size: 14px;
  line-height: 20px;
  color: black;
  display: flex;
  align-items: center;
  height: 100%;
  background-color: white;
}

#tU8YcNlVg5 > input {
  border: none;
  height: 24px;
  outline: none;
  padding-left: 9px;
}

#GJy5jPhNjO {
  display: flex;
  width: max-content;
  gap: 18.5px;
  align-items: center;
}

#RSJaYflnO6 {
  display: flex;
  flex-direction: column;
  align-items: end;
}

#RSJaYflnO6 > p:first-child {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

#RSJaYflnO6 > p:nth-child(2) {
  font-size: 15px;
  margin: 0;
  padding: 0;
}

#Profile {
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

#XDEhnZ5hE1 {
  align-items: center;
}

#XDEhnZ5hE1 > p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 23px;
  cursor: pointer;
  color: #fff;
  margin: 0;
  padding: 0;
}

#XDEhnZ5hE1 > p:hover {
  font-weight: bold;
  transition: 0.3;
}

.active {
  font-weight: bold;
}

#oq2lJl45ei {
  width: 130px;
  height: 48px;
  padding-left: 26px;
  padding-bottom: 28px;
  cursor: pointer;
  text-decoration: none;
}

#oq2lJl45ei > img {
  width: 24px;
  height: 24px;
}

#oq2lJl45ei > p {
  color: #fff;
}

/* Slider */
.card h3,
p {
  padding-left: 14px;
}

.wrapper {
  width: calc(100vw - 295px) !important;
  padding-top: 20px;
}

.wrapper h2 {
  padding-left: 25px;
  font-size: 20px;
}

.wrapper .carousel {
  padding: 24px;
  display: flex;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 2) - 9px);
  flex-direction: row;
  gap: 40px;
  overflow-x: scroll;
}

.carousel .card {
  height: 320px;
  list-style: none;
  background-color: #ffffff;
  width: fit-content;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.carousel .card .photo {
  padding: 14px;
}

/* .button-wrapper {
  display: flex;
  justify-content: flex-end;
} */

.button-more {
  display: flex;
  align-items: center;
  float: right;
  padding-right: 25px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  border-style: none;
  background-color: #ffffff;
  cursor: pointer;
}

.button-more img {
  width: 24px;
  padding-left: 4px;
}
/* Slider */

#rXTIriwHgz {
  display: flex;
  align-items: center;
  gap: 10px;
}

#rXTIriwHgz > p {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 36px;
  margin: 0;
  padding: 0;
}

#ZdU8QiECzO {
  width: calc(100% - 74px);
  padding-inline: 37px;
  margin-block: 16px;
  height: 273px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid white;
  border-radius: 10px 10px 0 0;
}

.justify-center {
  justify-items: center;
}

.items-center {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.font-Roboto {
  font-family: "Roboto", sans-serif;
}

.text-24px {
  font-size: 24px;
}

.text-20px {
  font-size: 20px;
}

#gHd1cwFNxB {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-inline: 37px;
}

#gHd1cwFNxB label:first-child {
  padding-top: 10px;
  padding-bottom: 13px;
}

#gHd1cwFNxB textarea:nth-child(2) {
  height: 151px !important;
  padding-left: 22px;
  padding-top: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}

#gHd1cwFNxB label:nth-child(3) {
  line-height: 48px;
}

#gHd1cwFNxB textarea:nth-child(4) {
  height: 55px !important;
  padding-left: 22px;
  padding-top: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}

#gHd1cwFNxB label:nth-child(5) {
  line-height: 48px;
}

#gHd1cwFNxB textarea:nth-child(6) {
  height: 87px !important;
  padding-left: 22px;
  padding-top: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}

#gHd1cwFNxB p:nth-child(7) {
  line-height: 48px;
}

#gHd1cwFNxB div {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding-block: 23px;
}

#gHd1cwFNxB div button {
  border-radius: 8px;
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  padding: 10px 18px;
  border: 1px solid;
  cursor: pointer;
}

#gHd1cwFNxB div button:first-child {
  background-color: white;
  color: black;
  border-color: black;
}

#gHd1cwFNxB div button:first-child:hover {
  transition: 0.2s ease;
  background-color: black;
  color: white;
  border-color: black;
}

#gHd1cwFNxB div button:nth-child(2) {
  background-color: #1b8700;
  color: white;
  border-color: #1b8700;
}

#gHd1cwFNxB div button:nth-child(2):hover {
  transition: 0.2s ease;
  background-color: white;
  color: #1b8700;
  border-color: #1b8700;
}

#gHd1cwFNxB div button:nth-child(3) {
  background-color: #7f0606;
  color: white;
  border-color: #7f0606;
}

#gHd1cwFNxB div button:nth-child(3):hover {
  transition: 0.2s ease;
  background-color: white;
  color: #7f0606;
  border-color: #7f0606;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

#ProfileDropDown {
  position: absolute;
  height: 83px;
  border: 1px solid lightgray;
  width: 159px;
  border-radius: 5px;
  right: 100px;
  top: 75px;
  background-color: #ffffff;
  box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.25);
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  z-index: 9998;
}

#ProfileDropDown a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 20px;
}

.DropDownShow {
  display: block !important;
}

#jxBRWC4sO7 {
  width: max-content;
  height: 48px;
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: bold;
  padding-inline: 36px;
}

#tabel-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 100vw; */
  height: 90px;
  margin: 27px 36px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#tabel-list > img {
  margin-left: 28px;
  margin-right: 1px;
}

#list {
  width: 190px;
}

#list > p:nth-child(1) {
  width: max-content;
  height: 26px;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 500;
}

#list > p:nth-child(2) {
  width: 48px;
  height: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 150;
  padding-top: 3px;
}

#list-data {
  width: 190px;
}

#list-data p:nth-child(1) {
  width: max-content;
  height: 26px;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 500;
}

#list-data p:nth-child(2) {
  width: max-content;
  height: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 150;
  padding-top: 3px;
}

#list-jabatan {
  width: 190px;
}

#list-jabatan > p:nth-child(1) {
  width: max-content;
  height: 29px;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: #4339f2;
}

#list-jabatan p:nth-child(2) {
  width: max-content;
  height: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 150;
  padding-top: 3px;
}

#tambah-manager {
  margin-left: 62px;
  margin-right: 36px;
  cursor: pointer;
}

.AsignedBackground {
  fill: #7f0606 !important;
}

.AsignedPlus {
  stroke: white !important;
}

#button-manager {
  display: flex;
  justify-content: end;
  margin: 27px 39px 27px 0;
  gap: 27px;
}

#button-manager > button {
  border-radius: 8px;
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  padding: 10px 18px;
  border: 1px solid;
  cursor: pointer;
}

#button-manager > button:first-child {
  background-color: white;
  color: black;
  border-color: black;
}

#button-manager > button:first-child:hover {
  transition: 0.2s ease;
  background-color: black;
  color: white;
  border-color: black;
}

#button-manager > button:nth-child(2) {
  background-color: #7f0606;
  color: white;
  border-color: #7f0606;
}

#button-manager > button:nth-child(2):hover {
  transition: 0.2s ease;
  background-color: white;
  color: #7f0606;
  border-color: #7f0606;
}

#mHzceCSec5 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-inline: 37px;
  align-items: center;
  padding-right: 33px;
  margin-top: 20px;
}

#LineDiagram {
  width: 532px;
  height: 279px;
  padding-inline: 48.96px;
  padding-block: 11px;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

#LineDiagram > p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 10px;
}

.pt-30 {
  padding-top: 30px !important;
}

/* Progress bar */

.all {
  display: flex;
  justify-content: center;
}
.circle-wrap {
  display: grid;
  grid-template-columns: repeat(1, 160px);
  grid-gap: 80px;
  margin-left: 10px;
  width: 106px;
  height: 106px;
  background: #d9d7da;
  border-radius: 50%;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill-1,
.circle-wrap .circle .fill-2,
.circle-wrap .circle .fill-3,
.circle-wrap .circle .fill-4 {
  width: 106px;
  height: 106px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .inside-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #ffffff;
  line-height: 80px;
  text-align: center;
  margin-top: 13px;
  margin-left: 13px;
  color: #000;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 20px;
}

/* color animation */

.mask .fill-1 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #34b53a;
}

.mask.full-1,
.circle .fill-1 {
  animation: fill-1 ease-in-out 1s;
  transform: rotate(100deg);
}

@keyframes fill-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(100deg);
  }
}

/* 2nd bar */

.mask .fill-2 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #4339f2;
}

.mask.full-2,
.circle .fill-2 {
  animation: fill-2 ease-in-out 1s;
  transform: rotate(79deg);
}

@keyframes fill-2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(79deg);
  }
}

/* 3rd progress bar */
.mask .fill-3 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #ff3a29;
}

.mask.full-3,
.circle .fill-3 {
  animation: fill-3 ease-in-out 1s;
  transform: rotate(47deg);
}

@keyframes fill-3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(47deg);
  }
}

/* 4th progress bar */
.mask .fill-4 {
  clip: rect(0px, 150px, 75px, 0px);
  background-color: #02a0fc;
}

.mask.full-4,
.circle .fill-4 {
  animation: fill-4 ease-in-out 1s;
  transform: rotate(110deg);
}

@keyframes fill-4 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(110deg);
  }
}

.caption p {
  padding-top: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  opacity: 0.5;
}

#ChartDashboard {
  display: grid;
  grid-template-columns: auto auto;
  gap: 40px;
  justify-content: space-around;
  align-items: center;
  padding-inline: 24px;
  margin-top: 30px;
  padding-block: 20px;
}

#BarDiagram {
  width: 532px;
  height: 279px;
  padding-inline: 48.96px;
  padding-top: 11px;
  padding-bottom: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

#BarDiagram > p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 10px;
}

#GotANewIdea {
  display: flex;
  justify-content: center;
  align-items: center;
}

#GotANewIdea p {
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  padding: 0;
  margin-right: 18px;
}

#InitiateResearch {
  width: 244px;
  height: 40px;
  border: 1px solid #7f0606;
  background-color: #7f0606;
  color: white;
  border-radius: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}

#InitiateResearch:hover {
  transition: 0.2s ease;
  background-color: white;
  color: #7f0606;
}

.sidebarActive {
  font-weight: 800 !important;
}

#Navbar {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
  z-index: 9999px !important;
}

#PopUp {
  margin: auto;
  width: 545px;
  height: 188px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 4px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#close {
  display: flex;
  justify-content: end;
  height: 25px;
  margin: 5px 10px 10px 15px;
  cursor: pointer;
}

#penjelasan-popup {
  margin: 0px 40px;
}

#text-popup > h2 {
  margin-left: 14px;
  margin-bottom: 8px;
}

#text-popup > p {
  width: 400px;
  font-size: 14px;
  color: #a3a3a3;
}

#Legend {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 4px 14px 14px 14px;
}

#LegendDetails {
  display: flex;
  align-items: center;
  gap: 6px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

#LegendDetails > p {
  padding: 0;
  margin: 0;
}

#ResearchPhaseTop {
  max-width: calc(100vw - 278px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 26px;
}

#ResearchPhaseTopCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

#ResearchPhaseTopCard > p:first-child {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #141417;
  padding: 0;
  line-height: 48px;
  margin: 0;
  padding: 0;
}

#ResearchPhaseTopCard div p:first-child {
  font-family: "Roboto", sans-serif;
  font-size: 64px;
  font-weight: 700;
  color: white;
  margin: 0;
  padding: 0;
}

#ResearchPhaseTopCard div p:last-child {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: white;
  margin: 0;
  padding: 0;
}

#ResearchPhaseTopCard div {
  background-color: #7f0606;
  border: 1px solid #7f0606;
  display: flex;
  margin: 0;
  padding: 10px 19px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
}

#ResearchPhaseTopCardSecondary {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

#ResearchPhaseTopCardSecondary > p:first-child {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #141417;
  margin: 0;
  padding: 0;
  line-height: 48px;
}

#ResearchPhaseTopCardSecondary div p:first-child {
  font-family: "Roboto", sans-serif;
  font-size: 64px;
  font-weight: 700;
  color: black;
  margin: 0;
  padding: 0;
}

#ResearchPhaseTopCardSecondary div p:last-child {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: black;
  margin: 0;
  padding: 0;
}

#ResearchPhaseTopCardSecondary div {
  background-color: #ffffff;
  border: 1px solid black;
  display: flex;
  margin: 0;
  padding: 10px 19px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
}

p {
  cursor: default;
}

#ResearchPhaseCard {
  width: 326px;
  min-height: 370px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  cursor: pointer;
}

#ResearchPhaseCard div:nth-child(2) {
  padding-inline: 20px 37px;
}

#ResearchPhaseCard div p:first-child {
  font-family: "DM sans", sans-serif;
  font-weight: 500;
  font-size: 22px;
  padding: 0;
  margin: 0;
  margin-bottom: 6px;
  margin-top: 20px;
  cursor: pointer;
}

#ResearchPhaseCard div p:nth-child(2) {
  font-family: "DM sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
  cursor: pointer;
}

#ResearchPhaseCard div div {
  display: flex;
  gap: 6px;
}

#ResearchPhaseMain {
  padding-left: 36px;
  padding-right: 71px;
  padding-top: 39px;
  padding-bottom: 50px;
  max-width: calc(100vw - 278px);
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 58px;
}

#Members {
  display: flex;
  position: relative;
  z-index: -9999;
}

.hidden {
  display: none !important;
}

#Members img:first-child {
  border: none;
  height: 28.5px;
  width: 28.5px;
}

#Members img:nth-child(2),
#Members img:nth-child(3),
#Members img:nth-child(4),
#Members p {
  position: absolute;
  background-color: white;
}

#Members p {
  height: 30px;
  width: 30px;
  border: 3px solid white;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: #ebebeb;
  color: #616161;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 12px;
  left: 88px;
}

#Members img:nth-child(2) {
  left: 22px;
}

#Members img:nth-child(3) {
  left: 44px;
}

#Members img:nth-child(4) {
  left: 66px;
}

#AvatarImage {
  border: 1.5px solid white;
  border-radius: 9999px;
}

#ResearchPhaseDetailMain {
  padding-top: 50px;
  padding-inline: 37px;
  padding-bottom: 21px;
}

#ResearchPhaseDetailMain p:first-child {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  padding: 0;
}

#MembersComponent {
  display: flex;
  flex-direction: column;
}

#MembersComponent p:first-child {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;
  padding: 0;
  margin: 0;
}

#DurationComponent {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

#DurationComponent p:first-child {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;
  padding: 0;
  margin: 0;
}

#DurationComponent p:nth-child(2) {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

#ResearchPhaseDetailMain div button {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: white;
  padding-inline: 12px;
  padding-block: 8px;
  border-radius: 8px;
  background-color: #7f0606;
  border: none;
}

#ResearchPhaseDetailMainComponent {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

#ResearchPhaseDetailMainComponentLeft {
  display: flex;
  gap: 112px;
}

#ResearchPhaseDetailSection {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  gap: 20px;
  padding-inline: 37px;
  padding-bottom: 29px;
}

#ResearchPhaseDetailActivities {
  width: 525px;
  min-height: 533px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding-left: 21px;
  padding-right: 76px;
  padding-block: 10px;
  display: flex;
  flex-direction: column;
}

#ResearchPhaseDetailActivities p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;
  padding: 0;
  margin: 0;
}

#MainProgressBarActivities {
  height: 8px;
  width: 100%;
  background-color: whitesmoke;
  border-radius: 4px;
}

#ProgressBarActivities {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-bottom: 10px;
}

#ProgressBarActivities p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

#ChildProgressBarActivities {
  height: 100%;
  background-color: #7f56d9;
  border-radius: 4px;
}

#CheckList {
  width: 100%;
  display: flex;
  gap: 25px;
  align-items: center;
  z-index: -9999;
}

#CheckList input[type="checkbox"] {
  position: relative;
  cursor: pointer;
  width: 0;
  height: 0;
}

#CheckList input[type="checkbox"]:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: -8px;
  left: 0;
  border: 2px solid #3f19b7;
  border-radius: 6px;
  background-color: #3f19b7;
}

#CheckList input[type="checkbox"]:checked:after {
  content: "";
  display: block;
  width: 7px;
  height: 13px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: -6px;
  left: 6px;
}

#Checklist label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #1c1d20;
}

#ListSection {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

#ResearchPhaseDetailKeyResult {
  width: 525px;
  min-height: 533px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding-left: 21px;
  padding-right: 76px;
  padding-block: 10px;
  display: flex;
  flex-direction: column;
}

#ResearchPhaseDetailKeyResult > p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}

#ListKeyResult {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#ListKeyResult > p:first-child {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

#ListKeyResult > p:last-child {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  border: 1px solid #c8c8c9;
  background-color: rgba(200, 200, 201, 0.5);
  border-radius: 10px;
  padding-left: 16px;
  padding-right: 10px;
  padding-block: 11px;
}

#ResearchPhaseDetailDoc {
  width: 525px;
  min-height: 213px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding-left: 21px;
  padding-right: 76px;
  padding-block: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#ResearchPhaseDetailDoc > p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

#ResearchPhaseDetailDoc > a {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #7f1ccb;
}

#ResearchPhaseDetailComment {
  width: 525px;
  min-height: 213px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding-left: 21px;
  padding-right: 76px;
  padding-block: 20px;
  display: flex;
  flex-direction: column;
}

#ResearchPhaseDetailComment > p:first-child {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

#ResearchPhaseDetailComment > div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

#ResearchPhaseDetailComment > div > p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

#ResearchPhaseMainDesign {
  padding-left: 36px;
  padding-right: 71px;
  padding-top: 39px;
  padding-bottom: 50px;
  max-width: calc(100vw - 278px);
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 58px;
}

#MembersDesign {
  display: flex;
  position: relative;
  z-index: -9999;
}

.hidden {
  display: none !important;
}

#MembersDesign img:first-child {
  border: none;
  height: 28.5px;
  width: 28.5px;
}

#MembersDesign img:nth-child(2),
#MembersDesign img:nth-child(3),
#MembersDesign img:nth-child(4),
#MembersDesign p {
  position: absolute;
  background-color: white;
}

#MembersDesign p {
  height: 30px;
  width: 30px;
  border: 3px solid white;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: #ebebeb;
  color: #616161;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 12px;
  left: 88px;
}

#MembersDesign img:nth-child(2) {
  left: 22px;
}

#MembersDesign img:nth-child(3) {
  left: 44px;
}

#MembersDesign img:nth-child(4) {
  left: 66px;
}

#AvatarImageDesign {
  border: 1.5px solid white;
  border-radius: 9999px;
}

#ResearchPhaseDetailMainDesign {
  padding-top: 50px;
  padding-inline: 37px;
  padding-bottom: 21px;
}

#ResearchPhaseDetailMainDesign p:first-child {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  padding: 0;
}

#MembersComponentDesign {
  display: flex;
  flex-direction: column;
}

#MembersComponentDesign p:first-child {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;
  padding: 0;
  margin: 0;
}

#DurationComponentDesign {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

#DurationComponentDesign p:first-child {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;
  padding: 0;
  margin: 0;
}

#DurationComponentDesign p:nth-child(2) {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

#ResearchPhaseDetailMainDesign div button {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: white;
  padding-inline: 12px;
  padding-block: 8px;
  border-radius: 8px;
  background-color: #7f0606;
  border: none;
}

#ResearchPhaseDetailMainComponentDesign {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

#ResearchPhaseDetailMainComponentLeftDesign {
  display: flex;
  gap: 112px;
}

#ResearchPhaseDetailSectionDesign {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  padding-inline: 37px;
  padding-bottom: 29px;
}

#ResearchPhaseDetailActivitiesDesign {
  width: 525px;
  height: 180px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding-left: 21px;
  padding-right: 76px;
  padding-block: 10px;
  display: flex;
  flex-direction: column;
}

#ResearchPhaseDetailActivitiesDesign p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;
  padding: 0;
  margin: 0;
}

#MainProgressBarActivitiesDesign {
  height: 8px;
  width: 100%;
  background-color: whitesmoke;
  border-radius: 4px;
}

#ProgressBarActivitiesDesign {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-bottom: 10px;
}

#ProgressBarActivitiesDesign p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

#ChildProgressBarActivitiesDesign {
  height: 100%;
  background-color: #7f56d9;
  border-radius: 4px;
}

#CheckListDesign {
  width: 100%;
  display: flex;
  gap: 25px;
  align-items: center;
  z-index: -9999;
}

#CheckListDesign input[type="checkbox"] {
  position: relative;
  cursor: pointer;
  width: 0;
  height: 0;
}

#CheckListDesign input[type="checkbox"]:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: -8px;
  left: 0;
  border: 2px solid #3f19b7;
  border-radius: 6px;
  background-color: #3f19b7;
}

#CheckListDesign input[type="checkbox"]:checked:after {
  content: "";
  display: block;
  width: 7px;
  height: 13px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: -6px;
  left: 6px;
}

#ChecklistDesign label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #1c1d20;
}

#ListSectionDesign {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

#ResearchPhaseDetailKeyResultDesign {
  width: 525px;
  height: 533px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding-left: 21px;
  padding-right: 76px;
  padding-block: 10px;
  display: flex;
  flex-direction: column;
}

#ResearchPhaseDetailKeyResultDesign > p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}

#ListKeyResultDesign {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#ListKeyResultDesign > p:first-child {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

#ListKeyResultDesign > p:last-child {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  border: 1px solid #c8c8c9;
  background-color: rgba(200, 200, 201, 0.5);
  border-radius: 10px;
  padding-left: 16px;
  padding-right: 10px;
  padding-block: 11px;
}

#ResearchPhaseDetailDocDesign {
  width: 525px;
  min-height: 213px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding-left: 21px;
  padding-right: 76px;
  padding-block: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#ResearchPhaseDetailDocDesign > p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

#ResearchPhaseDetailDocDesign > a {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #7f1ccb;
}

#ResearchPhaseDetailCommentDesign {
  width: 525px;
  min-height: 213px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding-left: 21px;
  padding-right: 76px;
  padding-block: 20px;
  display: flex;
  flex-direction: column;
}

#ResearchPhaseDetailCommentDesign > p:first-child {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

#ResearchPhaseDetailCommentDesign > div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

#ResearchPhaseDetailCommentDesign > div > p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

#ResearchPhaseNavbar {
  display: flex;
  align-items: center;
  gap: 12px;
  position: fixed;
  left: 315px;
  background-color: white;
  width: 100%;
  z-index: 9999;
  padding-block: 10px;
}

#ResearchPhaseNavbar p {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

#ResearchPhaseNavbar p:hover {
  color: #7f0606;
}

#ResearchPhaseNavbarActive {
  color: #7f0606 !important;
}

#ResearchPhaseDetailSectionDesignEdit {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#ResearchDetails {
  display: grid;
  grid-template-columns: auto auto;
  padding-inline: 37px;
  padding-block: 25px;
}

#ResearchDetailsLeft {
  width: 525px;
  min-height: 365px;
  padding-inline: 24px;
  border-radius: 10px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  padding-bottom: 20px;
  padding-top: 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

#ResearchDetailsLeft p:nth-child(1),
#ResearchDetailsLeft p:nth-child(3),
#ResearchDetailsLeft p:nth-child(5) {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

#ResearchDetailsLeft p:nth-child(2),
#ResearchDetailsLeft p:nth-child(4),
#ResearchDetailsLeft p:nth-child(6) {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  min-height: 61px;
  border: 1px solid #c8c8c9;
  background-color: rgba(200, 200, 201, 0.5);
  border-radius: 10px;
  padding-inline: 16px;
  padding-block: 9px;
  margin: 0;
}

#ResearchDetailsButton {
  display: flex;
  justify-content: end;
  height: 65px;
  width: 100%;
  padding-right: 37px;
  gap: 15px;
}

#ResearchDetailsButton button {
  padding-inline: 13px;
  padding-block: 8px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 600;
  border-radius: 8px;
  height: fit-content;
  outline: none;
}

#ResearchDetailsButton > button:nth-child(1) {
  color: #6f7280;
  background-color: white;
  border: 1px solid #6f7280;
}

#ResearchDetailsButton > button:nth-child(2) {
  color: #fff;
  background-color: #c80909;
  border: 1px solid #c80909;
}

#ResearchDetailsButton > button:nth-child(3) {
  color: #fff;
  border: 1px solid #7f0606;
  background-color: #7f0606;
}
